In [2]:
"""
邢不行-股票量化入门训练营
邢不行微信：xbx9585
Day3：选股策略示例
"""
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import math

# ===选股参数设定
select_stock_num = 3  # 选股数量
c_rate = 1.2 / 10000  # 手续费，手续费>万1.2
t_rate = 1 / 1000  # 印花税
select_stock_sum = pd.DataFrame()

df0 = pd.read_pickle('供选股数据.pkl')

In [48]:
df= df0.head(10000)
group = df.groupby('交易日期')
select_stock = pd.DataFrame()
select_stock['买入股票代码'] = group['股票代码'].sum()
select_stock['买入股票名称'] = group['股票名称'].sum()

In [49]:
select_stock

,买入股票代码,买入股票名称
交易日期,,
2006-12-29,sh600000sh600001sh600004sh600005sh600006sh6000...,浦发银行邯郸钢铁白云机场武钢股份东风汽车中国国贸首创股份上海机场包钢股份华能国际皖通高速华夏...
2007-01-31,sh600000sh600001sh600004sh600005sh600006sh6000...,浦发银行邯郸钢铁白云机场武钢股份东风汽车中国国贸首创股份上海机场包钢股份华能国际皖通高速华夏...
2007-02-28,sh600000sh600001sh600004sh600005sh600006sh6000...,浦发银行邯郸钢铁白云机场武钢股份东风汽车中国国贸首创股份上海机场包钢股份华能国际皖通高速华夏...
2007-03-30,sh600000sh600001sh600003sh600004sh600005sh6000...,浦发银行邯郸钢铁东北高速白云机场武钢股份东风汽车中国国贸首创股份上海机场包钢股份华能国际皖通...
2007-04-30,sh600000sh600001sh600003sh600004sh600005sh6000...,浦发银行邯郸钢铁东北高速白云机场武钢股份东风汽车中国国贸首创股份上海机场包钢股份华能国际皖通...
2007-05-31,sh600000sh600001sh600003sh600004sh600005sh6000...,浦发银行邯郸钢铁东北高速白云机场武钢股份东风汽车中国国贸首创股份上海机场包钢股份华能国际皖通...
2007-06-29,sh600000sh600001sh600003sh600005sh600006sh6000...,浦发银行邯郸钢铁东北高速武钢股份东风汽车中国国贸首创股份上海机场华能国际皖通高速华夏银行民生...
2007-07-31,sh600000sh600001sh600004sh600005sh600006sh6000...,浦发银行邯郸钢铁白云机场武钢股份东风汽车中国国贸首创股份上海机场包钢股份华能国际皖通高速华夏...
2007-08-31,sh600000sh600001sh600004sh600005sh600006sh6000...,浦发银行邯郸钢铁白云机场武钢股份东风汽车中国国贸首创股份上海机场包钢股份华能国际皖通高速华夏...

In [56]:

select_stock['选股下周期每天资金曲线'] = group['下周期每天涨跌幅'].apply(lambda x: np.cumprod(np.array(list(x))+1, axis=1).mean(axis=0))
select_stock['选股下周期每天资金曲线'] = select_stock['选股下周期每天资金曲线'] * (1 - c_rate)  
select_stock['选股下周期每天资金曲线'] = select_stock['选股下周期每天资金曲线'].apply(lambda x: list(x[:-1]) + [x[-1] * (1 - c_rate - t_rate)])

select_stock['选股下周期每天资金曲线']

交易日期
2006-12-29    [1.0012007755768866, 1.0288477335340385, 1.072...
2007-01-31    [1.0097513838229146, 0.9906313433354227, 1.002...
2007-02-28    [0.9790617276317862, 0.9964549033547151, 0.995...
2007-03-30    [1.0242209987990236, 1.039851016361966, 1.0516...
2007-04-30    [1.0459719893990165, 1.0462223036344205, 1.056...
2007-05-31    [0.9296476618537012, 0.8473566893295488, 0.859...
2007-06-29    [1.0239653979873287, 1.0422781422295273, 1.015...
2007-07-31    [0.9446481907090584, 0.9826591945092251, 0.998...
2007-08-31    [1.0268125726340351, 1.0183366512072982, 1.024...
Name: 选股下周期每天资金曲线, dtype: object

In [54]:
group['下周期每天涨跌幅'].apply(lambda row: np.cumprod(np.array(list(row))+1, axis =1))#.mean(axis=0))

交易日期
2006-12-29    [[1.007038948850305, 0.977475363679024, 0.9971...
2007-01-31    [[0.9839935974389756, 0.9203681472589036, 0.86...
2007-02-28    [[0.9798387096774194, 0.9834229390681003, 0.96...
2007-03-30    [[1.0494011976047903, 1.0475299401197604, 1.06...
2007-04-30    [[1.045724907063197, 1.0739776951672864, 1.088...
2007-05-31    [[0.9777843601895735, 0.9609004739336493, 0.97...
2007-06-29    [[0.9696638425799396, 0.9808690899152773, 0.93...
2007-07-31    [[1.0034782608695652, 1.0387577639751553, 1.09...
2007-08-31    [[1.018909090909091, 0.9885454545454545, 0.967...
Name: 下周期每天涨跌幅, dtype: object

In [27]:
data

  key1 key2     data1     data2
0    a  one -0.415290 -0.038036
1    a  two -0.345026  1.069099
2    b  one -1.965440  1.534577
3    b  two -0.378926  1.225129
4    a  one  0.059373 -0.405012

In [28]:
[[0.99583333 1.01458333 1.04583333 1.05833333 1.07083333 1.07083333
  1.0375     1.08333333 1.1125     1.10208333 1.13125    1.24375
  1.34791667 1.31875    1.30833333 1.24375    1.21666667 1.27708333
  1.26875    1.20416667]
 [1.         1.02380952 1.06349206 1.07142857 1.07936508 1.0952381
  1.05291005 1.08994709 1.0978836  1.08201058 1.11640212 1.14814815
  1.18518519 1.16666667 1.21164021 1.14550265 1.11904762 1.20634921
  1.17724868 1.15873016]
 [1.00848896 1.01697793 1.0475382  1.05093379 1.06960951 1.07470289
  1.03225806 1.08998302 1.10526316 1.10526316 1.13242784 1.15619694
  1.19694397 1.2139219  1.24278438 1.17317487 1.16468591 1.21222411
  1.25297114 1.22071307]]

  key1 key2     data1     data2
0    a  one -0.415290 -0.038036
1    a  two -0.345026  1.069099
2    b  one -1.965440  1.534577
3    b  two -0.378926  1.225129
4    a  one  0.059373 -0.405012

In [ ]:
[1.00144077 1.01845693 1.05228787 1.0602319  1.07326931 1.0802581
 1.04088937 1.08775448 1.10521559 1.09645236 1.12669332 1.18269836
 1.24334861 1.23311286 1.25425264 1.18747584 1.16680006 1.23188555
 1.23298994 1.19453663]

In [65]:
(0.99583333+1+1.00144077)/3
(1.01458333+1.02380952+1.01697793)/3

1.0184569266666668

In [ ]:
[-0.004166666666666541, 
 0.01882845188284521, 
 0.030800821355235986, 
 0.01195219123505975, 
 0.011811023622047223, 
 0.0, -0.03112840466926059, 
 0.04417670682730912, 
 0.026923076923076827, 
 -0.009363295880149725, 
 0.026465028355387554, 0
 .09944751381215466, 
 0.08375209380234505, 
 -0.021638330757341562, 
 -0.007898894154818259, 
 -0.04936305732484081, 
 -0.021775544388609736, 
 0.04965753424657526, 
 -0.006525285481239762, 
 -0.05090311986863705]